tmp*
temp*
__pycache__/*
budget/__pycache__/*
frames/__pycache__/*
entity/__pycache__/*
parsers/__pycache__/*
tools/__pycache__/*
classifier/__pycache__/*
classifier/dataset/cover/*
classifier/dataset/non-cover/*
temp/*
data/*
relatorio_documentos.docx
database.db
